<!DOCTYPE html>
<html>
<head>
  <title>manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" href="assets/rails.png"    type="image/x-icon">
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=C4mDur7zkT8qxOtuLCyc2MGT"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
